.Tv {
  padding: 2% 0% 5% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 900px) {
  .Tv {
    padding: 2% 0% 10% 0%;
  }
}
@media only screen and (max-width: 600px) {
  .Tv {
    padding: 2% 0% 28% 0%;
  }
}
